{% extends "base.html" %}
{% block title %}
	<title>Persons</title>
	<meta description="Esta es la pagina de humans"/>
{% endblock title %}

{% block persons %}
	<h1 class="text-center">Persons one</h1>
<div class="container">
	<div class="row">
	{% for p in person %}
		<div class="col-md-4">
			<ul class="list-group">
				<li class="list-group-item active">Person</li>
				<li class="list-group-item">Nombre:{{p.name}} </li>
				<li class="list-group-item">Edad:{{p.age}} </li>
				<li class="list-group-item">Descripcion: {{p.description}}</li>
			</ul>
		</div>
	{% endfor %}
	</div>
</div>
{% endblock persons %}